---
layout: default
---
{% if page.tags.size > 0 %}
    {% capture tags_content %}See also: {% if page.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}{% endcapture %}
    {% for page_tag in page.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.name == page_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}
    
    <div class="flex">
    <article>
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.year %}
    <h3>{{ page.year }}</h3>
    {% elsif page.date %}
    <h3>{{ page.date | date: '%B %d, %Y' }}</h3>
    {% endif %}

    {{ content }}
    <h3>{{ tags_content }}</h3>
   </article>
    {% if {{page.imgs}} %}
    <div class="header"><img src="1.jpg" /></div>
    {% endif %}   
   </div>
   <div class="flex"> 
    {% if page.imgs > 2 %}
    
    {% for i in (2..{{page.imgs}}) %}
    <div class="images">
        <img src="{{ i }}.jpg" style="width:100%;">
    </div>
     {% endfor %}
     </div>
     {% elsif page.imgs == 2 %}
     <div class="single-image">
        <img src="2.jpg" style="width:100%;">
    </div>
    {% endif %}
    </div>
    </div>
