<!DOCTYPE HTML>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- typekittens -->
  <script src="https://use.typekit.net/zcq6vyd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="{{ "../css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
<body>
    <div class="flex">
    <div class="images"><img src="../{{page.photo}}" /></div>
    <div class="images">
        <h1>{{ page.title }}</h1>
         <p>(I hate most photos of myself, but this one is pretty funny. I think I'm giving a side-eye to <a href="http://brianhouse.net/">Brian House</a> at a party.)</p>
         <h2>So who are you?</h2>
         <p>{{page.who}}</p>
        </div>
    <div class="hello">
    <h3>{{ page.date | date: '%B %d, %Y' }}</h3>
  </header>

    {{ content }}
    </div>
    </div>
</body>
</html>